<%- include('./partials/head.ejs') %>
<body>

    <a class="go-home" href="/">Go Back Home</a>
            <div class="detail-item">   
                <% items.forEach((item) => { %>
                    <h3><%= item.name %></h3>
                    <p><strong>Description:</strong> <%= item.description %></p>
                    <p><strong>Price:</strong> <%= item.price  %></p>
                    <p><strong>Quantity:</strong> <%= item.quantity  %></p>
                    <p><strong>Expiration Date:</strong>  <%= item.expiration_date.toDateString() %></p> 
                    <p><strong>Category:</strong> <%= item.category  %></p>
                    <p><strong>Last updated at:</strong> <%= item.updated_at.toDateString() %></p> 
                    <a href="/items/<%= item.id %>/edit">Edit</a>
                <% }) %>
    
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>