<%- include('./partials/head.ejs') %>
<body>

        <%- include('./partials/header.ejs') %>

        <div class="container">

            <h2>Welcome to our world of inventory</h2>

                <div class="dropdown">
                    <button id="dropbtn">Start</button>
                    <div id="dropdown-content" class="dropdown-menu">
                        <a class="dropdown-items" href="/items/all">All Items</a>
                        <% categories.map((category) => { %>
                            <a class="dropdown-items" href="/categories/<%= category.id %>"><%= category.category %></a>
                        <% }) %>
                    </div>        
                </div>
        </div>


        <%- include('./partials/footer.ejs') %>        
   


    
</body>
<script>
    const btn = document.getElementById('dropbtn');
    const menu = document.getElementById('dropdown-content');

    btn.addEventListener("click", () => {
        menu.classList.toggle('show');
    })

    window.onclick = (event) => {
        if(!event.target.matches('#dropbtn')) {
            if(menu.classList.contains('show')){
                menu.classList.remove('show');
            }
        }
    };
</script>
</html>