<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
        <a class="create-category" href="/categories/new">Create new category</a>

        <div class="content">
            <% categories.forEach((category) => { %>
                <div class="category">
                    <a href="/categories/<%= category.id %>">
                        <h2><%= category.category %></h2>
                        <p><%= category.description %></p>  

                        <div class="category-edit">
                            <a href="/categories/<%= category.id %>/edit">Edit</a>
                        </div>
                        

                        <form action="/categories/<%= category.id %>/delete" method="POST">
                            <button type="submit" class="delete-category-btn" onclick="return confirm('Delete this category?')"><strong>X</strong></button>
                        </form>
                    </a>
                </div>

            <% }) %>
        </div>        
    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>